<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <!-- springmvc 是不能使用/* -->
    <!-- 
      /*和/的区别是什么
      /*:拦截所有,包括请求,动态页面(JSP),静态资源(html,css,js,图片..)
      /:只拦截静态资源和请求,不拦截动态页面
          需求:在我们的页面上增加一个logo图片
     -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>